.links{
    border: 960px;
    float: right;
    background-color: rgba(34, 12, 12, 0.137);
    font-family: sans-serif;
    font-weight: bold;
}
.links:hover {
    background-color: white;
}

body {
    font-family: Courier;
    background-image: url('../images/bg.png');
    color: white;
    padding: 25px 200px 50px;
    
}
html, body {
    height: 100%;
    margin: 0;
  }

.background {
    background-color: #5856532a;
    
  
   
}
h1 {
    font-family: 'Righteous',cursive;
    font-weight: bold;
    color:white;
    background-color: rgba(163, 163, 165, 0.089);

    border-bottom: 5px solid rgba(199, 40, 29, 0.856);
  }

h2 {
    font-family: 'Ranga',cursive;
    font-weight: bold;
    font-size: 30px;
    background-color: #46484941 ;
    border-bottom: 3px solid rgba(187, 38, 27, 0.918);
}

.image1 {
    float: left;
    margin: 20px;
}

p {
    font-family: 'Ranga',cursive;
    font-size: 18pt;
    color: white;
    margin: 20px;
}

form {
    font-family: Courier;
    font-weight: bold;
}

input[type=text] {
    padding: 25px;
    margin: 25px 0;
    box-sizing: border-box;
    width: 100%;
}

.submit {
    color:#69C7E8;
    background-color: rgb(8, 3, 12);
    position: absolute;
    font-family: 'Righteous',cursive;
    font-size: 35px;
    background-color: red;
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-animation-name: submit; 
    -webkit-animation-duration: 4s; 
    animation-name: submit;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.image {
    position: relative;
    float: left;
    margin: 40px;
    font-family: 'Righteous',cursive;
}

.image::after {
    content: "";
    clear: both;
    display: table;
  }
.item {
    position: absolute;
    left: 35px;
    bottom: 20px;
    background-color: rgba(172, 25, 20, 0.767);
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: -20px;
    border: black solid 4px;

}
.wrapper {
    margin-bottom: -50px;
    min-height: 100%;
}

.footer {
    border-top: 8px solid rgba(170, 74, 74, 0.747);
    height: 50px;
    bottom: 0px;
    position: fixed;
    left: 50px;
    color: rgba(8, 243, 243, 0.966);
    font-weight:bolder;
    
}

form {
    font-family: 'Righteous', cursive;
}

@media screen and (max-width: 990px) {
    .wrapper {
        width: 700px;
        padding: 20px 50px 20px;
    }
    .background {
        width: 700px;
        padding: 20px 50px 20px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 500px;
        padding: 10px 40px 10px;
    }
    .background {
        width: 500px;
        padding: 10px 40px 10px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 400px;
        padding: 10px 10px 10px;
        
    }
    .background {
        width: 400px;
        padding: 10px 10px 20px;
      
    }
}