.links{
    border: 960px;
    float: right;
    background-color: rgba(34, 12, 12, 0.137);
    font-family: sans-serif;
    font-weight: bold;
}
.links:hover {
    background-color: white;
}

body {
    font-family: Courier;
    background-image: url('../images/bg.png');
    color: white;
    padding: 25px 200px 50px;
    
}
html, body {
    height: 100%;
    margin: 0;
  }

.background {
    background-color: #5856532a;
    
  
   
}
h1 {
    font-family: 'Righteous',cursive;
    font-weight: bold;
    color:white;
    background-color: rgba(163, 163, 165, 0.089);

    border-bottom: 5px solid rgba(199, 40, 29, 0.856);
  }

h2 {
    font-family: 'Ranga',cursive;
    font-weight: bold;
    font-size: 30px;
    background-color: #46484941 ;
    border-bottom: 3px solid rgba(187, 38, 27, 0.918);
}

.image1 {
    float: left;
    margin: 20px;
    animation-duration: 4s;
    animation-name: slidein;
}

p {
    font-family: 'Ranga',cursive;
    font-size: 18pt;
    color: white;
    margin: 20px;
}

form {
    font-family: Courier;
    font-weight: bold;
}

input[type=text] {
    padding: 25px;
    margin: 25px 0;
    box-sizing: border-box;
    width: 100%;
}

.submit {
    color:rgb(7, 14, 17);
    background-color: rgb(8, 3, 12);
    position: absolute;
    font-family: 'Righteous',cursive;
    font-size: 35px;
    background-color: red;
    position: relative;
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.image {
    position: relative;
    float: left;
    margin: 20px;
    font-family: 'Righteous',cursive;
}

.image::after {
    content: "";
    clear: both;
    display: table;
  }
.item {
    position: absolute;
    left: 35px;
    bottom: 20px;
    background-color: rgba(172, 25, 20, 0.767);
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: -20px;
    border: black solid 4px;
    animation-duration: 4s;
    animation-name: slidein;
}

.wrapper {
    margin-bottom: -50px;
    min-height: 100%;
}

.footer {
    border-top: 8px solid rgba(170, 74, 74, 0.747);
    height: 50px;
    bottom: 0px;
    position: fixed;
    left: 150px;
    color: rgba(8, 243, 243, 0.966);
    font-weight:bolder;
    
}

form {
    font-family: 'Righteous', cursive;
}

@media screen and (max-width: 990px) {
    .wrapper {
        width: 700px;
        padding: 20px 30px 20px;
    }
    .background {
        width: 700px;
    }
    
    .image {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 650px;
    }
    .background {
        width: 650px;
    }
    .image {
        width: 250px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 360px;
        
    }
    .image {
        width: 200px;
    }
    .background {
        width: 360px;
    }
}